* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    background: #ff1b68;
    width: 100%;
    padding: 10px;
}

h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.section-title {
    color: rgb(102, 206, 171);
}

.main-header {
    width: 100%;
    background: green;
    padding: 16px;
}

.main-nav_item {
    display: inline-block;
}